<table
  border='0'
  cellpadding='0'
  cellspacing='0'
  height='100%'
  width='100%'
  id='bodyTable'
>
  <tr>
    <td align='center' valign='top'>
      <table
        border='0'
        cellpadding='15'
        cellspacing='0'
        width='600'
        id='emailContainer'
      >
        <tr>
          <td align='center' valign='top'>
            <table
              border='0'
              cellpadding='20'
              cellspacing='0'
              width='100%'
              id='emailHeader'
            >
              <tr>
                <td align='center' valign='top'>
                  <img
                    width=60
                    height=60
                    src='https://revivehaircosmetics.com/images/logo.png'
                    alt='ReviveHairCosmetics'
                  />
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align='center' valign='top'>
            <table
              border='0'
              cellpadding='4'
              cellspacing='0'
              width='100%'
              id='emailBody'
            >
              <tr>
                <td style='color: #2f353d;' align='center' valign='top'>
                  Hi
                  {{email}}
                  <br />
                  <br />
                  <br />
                  <span style='color: #2f353d;'>Here is your password reset
                    token
                    {{token}}</span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align='center' valign='top'>
            <table
              border='0'
              cellpadding='8'
              cellspacing='0'
              width='100%'
              id='emailBody'
            >
              <tr>
                <td align='center' valign='top'>
                  <a
                    style='background: #1e68c0; padding: 12px 40px; text-decoration: none; border-radius: 4px;color: white;'
                    href={{link}}
                  >RESET PASSWORD </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td align='center' valign='top'>
            <table
              border='0'
              cellpadding='0'
              cellspacing='0'
              width='100%'
              id='emailFooter'
            >
              <tr>
                <td align='center' valign='top'>
                  <a
                    style='padding:3px; color: #999896;'
                    href='https://revivehaircosmetics.com'
                  >Unsubscribe</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>